.scatterPlot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    margin: 15px;
    box-shadow: 0 3px 6px 1px #777;
}

.scatterPlot_header {
    margin: 20px 30px 0px 50px;
}