.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 1px solid black;
}

.logo_container {
    width: 50px;
}

.logo {
    width: 100%;
    height: 100%;
}